@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
}
deepl-input-controller {
  display: none;
}
:root {
  --c-white: white;
  --c-black: black;
  --c-orange: #F67403;
  --c-red: #F40503;
  --c-pink: #F600FF;
  --c-blue: #2000FF;
  --padding: 16px;
}

@mixin gridBox($template: 1fr / 1fr) {
  display: grid;
  grid-template: $template;
}

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

* { 
  box-sizing: border-box !important;
}

$scd: 50px;

main {
  @include gridBox(1fr / 2fr $scd 1.2fr);
  width: 100%;
  @include tablet() {
    grid-template: 1fr 1fr / 1fr;
  }
}

section { 
  height: 100vh;
  overflow-y: scroll;
  &:nth-child(3) {background-color: var(--c-red);}
  &::-webkit-scrollbar{display:none}
  @include tablet() {
    width: calc(100% - $scd);
    height: 100%;
    overflow-y: initial;
  }
}

.lists {
  display: flex;
  flex-direction: column;
  padding: 1%;
  background-color: var(--c-orange);
  > div {
    @include gridBox(1fr 1fr / 32px 2fr 0.8fr);
    grid-template-areas:
      "left title detail"
      "left title button";
    background-color: var(--c-red);
    gap: 2px;
    padding: 2px 2px 0;
    &:last-child{padding-bottom: 2px;}
    min-height: calc(100vh / 5);
    > * {
      display: flex;
      align-items: center;
      background-color: var(--c-orange);
      padding: calc(var(--padding) / 2);
      color: var(--c-red);
    }
    &:hover {
      background-color: var(--c-white);
      padding-bottom: 2px;
      > * {
        color: var(--c-white);
        a { background-color: var(--c-white);}
      }
      &+div {
        padding-top: 0;
      }
    }
  }
  p { 
    grid-area: left;
    writing-mode: tb;
    justify-content: center;
    transform: rotate(180deg);
  }
  h4 {
    grid-area: title;
    font-size: 5.15rem;
    letter-spacing: -2px;
    line-height: 1;
    font-weight: bold;
    @include tablet() {
      font-size: 480%;
    }
  }
  h5 { 
    justify-content: center;
    grid-area: detail;
    text-align: center;
    letter-spacing: -1px;
    font-weight: 600;
  }
  .button--cover { 
    grid-area: button;
    padding: var(--padding);
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: var(--c-orange);
      font-size: 12px;
      border-radius: 25px;
      width: 100%;
      background-color: var(--c-red);
      padding: 12px 16px;
    }
  }
}

.menu {
  height: 100vh;
  @include gridBox(1fr 1fr / 1fr);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 9;
  @include tablet() {
    width: $scd;
    position: fixed;
    top: 0;
    right: 0;
  }
  > div {
    height: 50%;
    writing-mode: tb;
    text-orientation: sideways;
    display: flex;
    align-items: center;
    &:nth-child(1) {background-color: var(--c-pink);}
    &:nth-child(3) { 
      background-color: var(--c-blue);
      transform: rotate(180deg);
    }
    p {
      height: 100%;
      padding: var(--padding);
      font-size: 1.3rem;
      font-weight: bold;
      @include tablet() {
        //width: 100%;
        //text-align: center;
        font-size: 1.15rem;
        //color: var(--c-white);
      }
    }
  }
  > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: calc(50% - $scd / 2);
    animation: rotate 2s infinite linear;
    z-index: 2;
    @include tablet() {
      //width: auto;
      //height: 100%;
      top: calc(50% - $scd / 2);
      //left: calc(50% - $scd / 2);
    }
  }
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.steps {
  $color: var(--c-black);
  padding: var(--padding);
  padding-bottom: 0;
  @include tablet() {
    padding: calc(var(--padding) * 3) var(--padding);
  }
  fieldset {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 var(--padding);
    position: sticky;
    top: 0;
    @include tablet() {
      position: relative;
    }
    input {
      position: absolute; opacity: 0;
      + label {
        $fs: 1.2rem;
        font-size: $fs;
        font-weight: 600;
        text-align: center;
        color: $color;
        &::before {
          content: "";
          border-radius: 100%;
          border: 2px solid $color;
          background-color: unset;
          display: inline-block;
          width: $fs;
          height: $fs;
          margin-right: 10px;
          position: relative;
          vertical-align: top;
          cursor: pointer;
        }
      }
      &:checked {
        + label {
          //font-weight: bold;
          //text-decoration: underline;
          &::before {
            background: $color;
          }
        }
      }
    }
  }
  &--group {
    @include gridBox(1fr / 1fr 1fr);
    gap: var(--padding);
    > div {
      padding: var(--padding) 0;
      min-height: calc(100vh / 6.5);
      border-top: 2px solid #000;
      h4 {font-size: 1.5rem; font-weight: bold;}
      p {font-weight: 600; letter-spacing: -0.5px;}
    }
  }
}