@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  box-sizing: border-box !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
}

@mixin gridBox($template: 1fr / 1fr, $justify: space-between, $align: stretch) {
  display: grid;
  grid-template: $template;
  justify-content: $justify;
  align-items: $align;
}
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
:root {
  --padding: 16px;
  --border: 4px;
}


.container {
  @include gridBox(1fr 15fr / 1fr);
}
.filter {
  @include gridBox(1fr / repeat(5, 1fr));
  @include mobile(){grid-template-columns: 1fr;}
  border: calc(var(--border) / 2) solid;
  select {
    padding: var(--padding);
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url('../image/day11_arrow.png') calc(100% - var(--padding)) center / 12px no-repeat;
    border: calc(var(--border) / 2) solid;
  }
}
.contents {
  @include gridBox( 40vh / repeat(auto-fill, minmax(600px, 1fr)), space-around);
  @include mobile() {grid-template-columns: 1fr;}
  background-color: black;
  gap: var(--border);
  padding: 0 var(--border);
  border-bottom: var(--border);
  article {
    height: 40vh;
    background-color: white;
    @include gridBox( 1fr 6fr 1fr / 1fr);
    > div {
      display: flex;
      justify-content: space-between;
      padding: var(--padding);
      &.bottom { align-items:flex-end}
    }
    @for $i from 1 to 13 {
      &:nth-child(#{$i}) .ctn__img {
        background: url(../image/day11_#{$i}.jpeg) center center / contain no-repeat;
      }
    }
  }
}
