@mixin Title($title) {
  @if ($title == "T") {
    color: red;
  } @else {
    color: blue;
  }
}

//extend를 사용하면 컴파일 시 css 파일에서 해당 속성을 가진 값들이 한곳에 묶이게 됩니다.
//ex) btn_1, btn_2, btn_3 { color: blue}
//mixins를 사용하면 개별로 적용이 됩니다.
//ex) btn_1 { color: blue}
//btn_2 { color: blue}
//btn_3 { color: blue}


@mixin flexBox($justify: flex-start, $alignI: flex-start) {
	display: flex;
	justify-content: $justify;
	align-items: $alignI;
}
@mixin headBg($deg: to bottom) {
	background: linear-gradient($deg, rgba(0, 0, 0, 0.8), 60%, rgba(0, 0, 0, 0));
}
@mixin fonts($size: inherit, $weight: 400) {
	font-size: $size;
	font-weight: $weight;
}
