html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}table{border-collapse:collapse;border-spacing:0;}a,button{text-decoration: none; color: inherit;}
//blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}

@import "_variables.scss";
@import "_mixins.scss";
@import "_extends.scss";


:root {
	--lineBgColor: rgb(176, 27, 27);
	--speakersBg: #0c2343;
	--fontColor: white;
	--headPd: 16px;
	--headH: 60px;
	--maxWidth: 1240px;
	--gap: 20px;
}


@mixin flexBox($justify: flex-start, $alignI: flex-start) {
	display: flex;
	justify-content: $justify;
	align-items: $alignI;
}
@mixin headBg($deg: to bottom) {
	background: linear-gradient($deg, rgba(0, 0, 0, 0.8), 60%, rgba(0, 0, 0, 0));
}
@mixin fonts($size: inherit, $weight: 400) {
	font-size: $size;
	font-weight: $weight;
}

/*===========================================================================
	MOBILE
============================================================================*/
$tablet-width: 1024px;
@mixin tablet {
	@media screen and (max-width: #{$tablet-width}) {
		:root {
			--maxWidth: 767px;
		}
		@content;
	}
}

* { 
	//font-family: 'Titillium Web', sans-serif;
	font-family: 'Urbanist', sans-serif;
	//font-family: 'Victor Mono', monospace;
	font-weight: 400;
	line-height: 1.4;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
  //-webkit-user-select:none;
  //-moz-user-select:none;
  //-ms-user-select:none;
  //user-select:none
}
.dn {
	display: none !important;
}
.btn {
	@include flexBox(space-between, center);
	gap: 6px;
	width: fit-content;
	padding: 10px 16px;
	font-weight: bold;
	border: 0;
	border-radius: 2px;
	transition: .2s ease-in-out;
	cursor: pointer;
	&__red {
		background-color: var(--lineBgColor);
		color: var(--fontColor);
	}
	&__gray {
		background-color: gray;
		color: var(--fontColor);
		&:hover {
			background-color: var(--lineBgColor);
		}
	}
	&__scale_08:hover {
		transform: scale(0.8);
	}
	&__push {
		transform: translateX(-5px) translateY(-5px);
		box-shadow: 4px 4px 0 black;
		&:hover {
			transform: translateX(0);
			box-shadow: unset;
		}
	}
	&.submit {
		width: 25%;
		justify-content: center;
		@include fonts(16px, bold);
		margin-top: 20px;
	}
}

/*===========================================================================
	HEADER
============================================================================*/
.line_header {
	background-color: var(--lineBgColor);
	padding: 16px;
	color: var(--fontColor);
	text-align: center;
	text-transform: uppercase;
	position: relative;
	z-index: 10;
	strong { font-weight:bold }
	@include tablet() {
		strong { display:block}
		span {display: none;}
	}
}
.header {
	padding: var(--headPd);
	@include headBg(to bottom);
	@include tablet(){padding: 0; background: rgba(0, 0, 0, 0.5);}
	backdrop-filter: blur(2px);
	position: sticky;
	top: 0;
	z-index: 999;
	&--inner {
		@include flexBox(space-between, center);
		gap: 50px;
		.logo {
			flex: 1;
			max-height: var(--headH);
			img {height:var(--headH)}
			@include tablet(){
				--headH: 32px;
				flex: unset; padding: var(--headPd); box-sizing: content-box;
			}
		}
		input:checked {
			+.header--hamburger span {
				&:nth-child(1){top:50%;transform:translateY(-50%) rotate(45deg)}
				&:nth-child(2){opacity:0}
				&:nth-child(3){bottom:50%;transform:translateY(50%) rotate(-45deg);}
			}
			~.header--GNB {
				height: auto;
				ul {
					transform: scaleY(1);
				}
			}
		}
	}
	&--hamburger {
		display: none;
		@include tablet(){display: block;}
		$size: 24px;
		width: $size * 1.25;
		height: $size;
		cursor: pointer;
    position: absolute;
    top: 21px;
    right: 21px;
		z-index: 9;
		span {
			background: white;
			display: block;
			width: 100%;
			$line: 3px;
			height: $line;
			border-radius: $line;
			position: absolute;
			transition: all 0.2s;
			&:nth-child(1) { top:0; }
			&:nth-child(2) { top:calc(50% - $line / 2); }
			&:nth-child(3) { bottom:0; }
		}
	}
	&--GNB {
		flex: 5;
		width: 100%;
		height: 0;
		@include tablet(){
			flex: 1;
			overflow: hidden;
			position: absolute;
			top: 64px;
			z-index: -1;
		}
		ul {
			gap: 50px;
			transition: all 0.35s;
			@include flexBox(flex-end, center);
			@include tablet() {
				flex-direction: column;
				transform-origin: top;
				transform: scaleY(0);
				background-color: rgba(0, 0, 0, 0.5);
				gap: 0;
				li, a {
					display: block;
					width: 100%;
					a {
						padding: 20px;
						text-align: center;
					}
				}
			}
			a {
				text-decoration: none;
				text-transform: uppercase;
				color: $buttonColor;
			}
		}
	}
}

/*===========================================================================
	CONTAINER
============================================================================*/
.container {
	margin-top: calc(((var(--headPd) * 2) + var(--headH)) * -1);
	@include tablet(){margin-top: -64px;}
	section {
		min-height: 10vh;
		padding: 5%;
		box-sizing: content-box;
		h2 {
			width: fit-content;
			font-family: 'Titillium Web', sans-serif;
			@include fonts(32px, bold);
			margin-bottom: 20px;
		}
	}
	&--section {
		@extend %boxes;
	}
	.divGap {
		display: block;
		$margin:4%;
		padding: $margin;
		margin-top: calc($margin / -1);
		&.g-speakers {
			background-color: var(--speakersBg);
		}
	}
}
/***** SECTIONS START *****/
.main {
	height: 80vh;
	background: url(/image/main.jpg) center center no-repeat;
	background-size: cover;
	color: var(--fontColor);
	@include flexBox(center, flex-end);
}
.about {
	$skewX: 10deg;
	$skewY: 2deg;
	position: relative;
	transform: skew(0, -$skewY);
	margin-top: -50px;
	padding: 0;
	background-color: black;
	color: var(--fontColor);
	overflow: hidden;
	@include tablet(){margin-top: -16px;}
	&--inner {
		@include flexBox(space-between, space-between);
		transform: skew(0, $skewY) translateY(25px);
		gap: var(--gap);
	}
	&--img {
		overflow: hidden;
		transform: translateX(60px) translateY(-50px);
		//transform: skew($skewX, -$skewY) translateX(60px) translateY(-50px);
		flex: 1.2;
		&__background {
			background: url("https://avatars.githubusercontent.com/u/75190062?v=4") center center;
			background-size: cover;
			width: 100%;
			height: 100%;
			//transform: skew(-$skewX, 0) translateX(60px);
		}
	}
	&--text {
		flex: 1;
		//padding: 3% 0 5% 10%;
		padding: 5% 0 10%;
		h3 {
			@include fonts(32px, bold);
			margin-bottom: 32px;
			line-height: 1.2;
			span {
				font-weight: bold;
				$color: gold;
				color: black;
				-webkit-text-stroke: 1px $color;
				text-shadow: -1px 0 4px $color, 1px 0 4px $color, 0 -1px 4px $color, 0 1px 4px $color;
				
			}
		}
		p {
			display: block;
		}
	}
}
.speakers {
	background-color: var(--speakersBg);
	$between: var(--gap);
	h2 {color: var(--fontColor)}
	&--inner {
		@include flexBox(space-between, center);
		flex-wrap: wrap;
		gap: $between 2px;
	}
	&--cover {
		width: calc(((100% - ($between * 3)) / 4));
		height: 100%;
		padding-top: 20px;
		position: relative;
		transition: .1s;
		//background-color: gold;
		overflow: hidden;
		@include flexBox(center, center);
		&:hover {
			transform: scale(1.05) rotate(2deg);
			filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
			z-index: 3;
			img{transform: scale(1.05) rotate(-2deg);}
		}
		img {
			display: block;
			width: 100%;
			aspect-ratio: 1 / 1;
			padding: 0;
			margin: 0 auto;
			transition: .1s;
		}
		&:nth-child(-n+3) { 
			width: calc(((100% - ($between * 2)) / 3));
		}
	}
	&--text {
		width: 100%;
		padding: var(--gap);
		position: absolute;
		bottom: 0;
		box-sizing: border-box;
		@include headBg(to top);
		backdrop-filter: shadow(0 0 5px rgba(0,0,0,.5));
		color: var(--fontColor);
		h4 {
			@include fonts(32px, 900);
			text-align: center;
			text-transform: uppercase;
			background: url(https://png.pngtree.com/thumb_back/fh260/background/20210828/pngtree-gleneagle-gray-concrete-abstract-texture-background-image_771715.jpg);
			background-size: cover;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			filter: drop-shadow(0 0 6px rgba(0, 0, 0, 1));
			span {
				display: block;
				@include fonts(14px);
				line-height: 0.5;
				-webkit-background-clip: unset;
				-webkit-text-fill-color: initial;
			}
		}
		p {
			@include fonts(16px);
			text-align: center;
			background-color: var(--lineBgColor);
			span {
				display: block;
				@include fonts(12px);
			}
		}
	}
}
.agenda {
	background: url(/image/registration-background.png) repeat;
	.container--section {
		@include flexBox(space-between, flex-start);
	}
	&--left	{
		flex: 1;
		.btn img {
			filter: invert(94%) sepia(0%) saturate(7474%) hue-rotate(69deg) brightness(107%) contrast(107%);
			width: 20px;
			height: 20px;
		}
	}
	&--inner {
		flex: 3;
		margin: 0 auto;
		&__timetable {
			width: 100%;
			th, td {
				text-align: center;
				border: 1px solid black;
				border-radius: 2px;
				padding: 5px;
			}
		}
	}
}
.registration {
	&--inner {
		margin: 0 auto;
	}
	&--tickets {
		display: flex;
		gap: var(--gap);
		margin-bottom: 20px;
		@include tablet() {
			flex-direction: column;
		}
	}
	&__ticket {
		@include flexBox(center, center);
		width: 100%;
		height: 180px;
		background-color: var(--speakersBg);
		color: var(--fontColor);
		position: relative;
		transition: .1s;
		filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
		&:hover {
			transform: scale(1.05);
			filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
			z-index: 3;
		}
		p {
			@include fonts(32px, 900);
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-left: 30px;
		}
		&::before, &::after { 
			content: "";
			display: block;
			position: absolute;
		}
		&::before {
			width: 15px;
			height: 15px;
			left: 15px;
			z-index: 2;
			background-color: var(--fontColor);
			border-radius: 50%;
			box-shadow: inset 5px 5px 0 rgba(0, 0, 0, 0.5);
			transition: .1s;
		}
		&::after {
			width: 1px;
			height: 100%;
			left: calc(50px);
			background-image: url("/image/stroke-line.svg");
		}
	}
	&--policy {
		padding-top: 20px;
		strong {
			@include fonts(20px, 700);
		}
	}
	
}
.sponsors {
	&--inner {
		margin: 0 auto;
	}
}
.contact {
	background-color:rgb(55, 55, 55);
	color: var(--fontColor);
	.container--section {
		@include flexBox(space-between);
		gap: var(--gap);
		h2 {flex: 1;}
		form {flex: 3;}
	}
	&--inner {
		display: grid;
		grid-template: 1fr / repeat(2, 1fr);
		gap: var(--gap);
		label, input, textarea {
			display: block;
			width: 100%;
		}
		input, textarea {
			padding: 8px 16px;
			box-sizing: border-box;
			border-radius: 4px;
			margin-top: 8px;
		}
		label:last-child {
			grid-column: 1 / span 2;
		}
	}
}
/***** SECTIONS END *****/

/*===========================================================================
	FOOTER
============================================================================*/
.footer {
	@include flexBox(space-between);
	padding: 5%;
	background-color: black;
	color: var(--fontColor);
	&--social {
		display: flex;
		gap: var(--gap);
		a {
			@include flexBox(center, center);
			width: 50px;
			height: 50px;
			color: black;
			background-color: gold;
			border-radius: 10px;
		}
	}
}
