html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

@import "_variables.scss";
@import "_mixins.scss";
@import "_extends.scss";


:root {
	--lineBg: rgb(176, 27, 27);
	--speakersBg: #1b55a6;
	--headPd: 16px;
	--headH: 80px;
	--maxWidth: 1240px;
	--gap: 20px;
}


@mixin flexBox($justify: flex-start, $alignI: flex-start) {
	display: flex;
	justify-content: $justify;
	align-items: $alignI;
}
@mixin headBg($deg: to bottom) {
	background: linear-gradient($deg, rgba(0, 0, 0, 0.8), 60%, rgba(0, 0, 0, 0));
}
@mixin fonts($size: inherit, $weight: 400) {
	font-size: $size;
	font-weight: $weight;
}



* { 
	//font-family: 'Titillium Web', sans-serif;
	font-family: 'Urbanist', sans-serif;
	//font-family: 'Victor Mono', monospace;
	font-weight: 400;
	line-height: 1.4;
}
html {
	scroll-behavior: smooth;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.dn {
	display: none !important;
}
/*===========================================================================
	HEADER
============================================================================*/
.line_header {
	background-color: var(--lineBg);
	padding: 16px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	z-index: 10;
}
.header {
	@include flexBox(space-between);
	flex-wrap: nowrap;
	padding: var(--headPd);
	@include headBg(to bottom);
	backdrop-filter: blur(2px);
	position: sticky;
	top: 0;
	z-index: 999;
	&--inner {
		@extend %boxes;
		padding: 0 20px;
		@include flexBox(space-between, center);
		.logo {
			flex: 1;
			max-height: var(--headH);
			img {
				max-height: var(--headH);
				min-height: 42px;
			}
		}
		ul {
			@include flexBox(flex-end, center);
			flex: 5;
			gap: 50px;
			a {
				text-decoration: none;
				text-transform: uppercase;
				color: $buttonColor;
			}
		}
	}
}

/*===========================================================================
	CONTAINER
============================================================================*/
.container {
	margin-top: calc(((var(--headPd) * 2) + var(--headH)) * -1);
	section {
		min-height: 10vh;
		padding: 100px;
		box-sizing: content-box;
		h2 {
			font-family: 'Titillium Web', sans-serif;
			@include fonts(32px, bold);
			width: fit-content;
			margin-bottom: 20px;
		}
	}
	&--section {
		@extend %boxes;
	}
	.divGap {
		display: block;
		$margin:4%;
		padding: $margin;
		margin-top: calc($margin / -1);
		&.g-speakers {
			background-color: var(--speakersBg);
		}
	}
	/***** SECTIONS START *****/
	.main {
		height: 90vh;
		background: gray;
	}
	.about {
		$skewX: 10deg;
		$skewY: 4deg;
		position: relative;
		transform: skew(0, -$skewY);
		margin-top: -100px;
		padding: 0;
		background-color: black;
		color: white;
		&--inner {
			@include flexBox(space-between, space-between);
			transform: skew(0, $skewY) translateY(-25px);
			gap: var(--gap);
		}
		&--img {
			overflow: hidden;
			transform: skew($skewX, -$skewY) translateX(-120px) translateY(60px);
			flex: 1;
			&__background {
				background: url("https://avatars.githubusercontent.com/u/75190062?v=4") center center;
				background-size: contain;
				width: 110%;
				height: 99.5%;
				transform: skew(-$skewX, 0) translateX(40px);
			}
		}
		&--text {
			flex: 0.8;
    	padding: 3% 10% 3% 0;
			h3 {
				@include fonts(32px, bold);
				margin-bottom: 32px;
				span {
					display: inline-block;
					width: 20px;
				}
			}
			p {
				display: block;
			}
		}
	}
	.speakers {
		background-color: var(--speakersBg);
		$between: var(--gap);
		&--inner {
			@include flexBox(space-between, center);
			flex-wrap: wrap;
			gap: $between 2px;
		}
		&--cover {
			width: calc(((100% - ($between * 3)) / 4));
			height: 100%;
			box-sizing: border-box;
			padding-top: 20px;
			position: relative;
			transition: .1s;
			background-color: gold;
			overflow: hidden;
			@include flexBox(center, center);
			&:hover {
				transform: scale(1.05) rotate(2deg);
				//box-shadow: 10px 10px 10px 0 rgba(0,0,0,.25);
				filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.5));
				z-index: 3;
				img{transform: scale(1.05) rotate(-2deg);}
			}
			img {
				display: block;
				width: 100%;
				aspect-ratio: 1 / 1;
				padding: 0;
				margin: 0 auto;
				transition: .1s;
			}
			&:nth-child(-n+3) { 
				width: calc(((100% - ($between * 2)) / 3));
			}
		}
		&--text {
			width: 100%;
			padding: var(--gap);
			position: absolute;
			bottom: 0;
			box-sizing: border-box;
			@include headBg(to top);
			backdrop-filter: shadow(0 0 5px rgba(0,0,0,.5));
			color: white;
			h4 {
				@include fonts(32px, 900);
				text-align: center;
				text-transform: uppercase;
				background: url(https://png.pngtree.com/thumb_back/fh260/background/20210828/pngtree-gleneagle-gray-concrete-abstract-texture-background-image_771715.jpg);
				background-size: cover;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				filter: drop-shadow(0 0 6px rgba(0, 0, 0, 1));
				span {
					display: block;
					@include fonts(14px);
					line-height: 0.5;
					-webkit-background-clip: unset;
					-webkit-text-fill-color: initial;
				}
			}
			p {
				@include fonts(16px);
				text-align: center;
				background-color: var(--lineBg);
				span {
					display: block;
					@include fonts(12px);
				}
			}
		}
	}
	.agenda {
		.container--section {
			@include flexBox(space-between, flex-start);
		}
		div:not(.container--section):first-child	{
			flex: 1;
		}
		&--inner {
			flex: 3;
			margin: 0 auto;
			&__timetable {
				width: 100%;
				th, td {
					border: 1px solid black;
				}
			}
		}
	}
	.registration {
		background: url(/image/registration-background.png) repeat;
		&--inner {
			margin: 0 auto;
		}
		&--tickets {
			display: flex;
			gap: var(--gap);
			margin-bottom: 20px;
			&__ticket {
				width: 100%;
				height: 200px;
				background-color: blueviolet;
				@include flexBox(center, center);
				flex-direction: column;
				position: relative;
				border-radius: 20px;
				color: white;
				font-size: 40px;
				&::before {
					content: "";
					display: block;
					background-color: white;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					position: absolute;
					left: 20px;
					z-index: 2;
				}
				&::after {
					content: "";
					display: block;
					background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='3' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
					width: 1px;
					height: 100%;
					position: absolute;
					left: calc(60px);
				}
			}
		}
		
	}
	.sponsors {
		&--inner {
			margin: 0 auto;
		}
	}
	/***** SECTIONS END *****/
}

/*===========================================================================
	FOOTER
============================================================================*/
footer {
	padding: 100px;
	background-color: black;
	color: white;
}


/*===========================================================================
	MOBILE
============================================================================*/
@media screen and (max-width: 1024px) {
	
}